@use '../../scss/colors' as colors;

.logo {
  color: colors.$primary;
  font-weight: 400;
  
  padding: 13px 32px;
  font-size: 40px;
  line-height: 80px;
  font-family: 'Birthstone Bounce';
  font-weight: 400;
  margin: 0;
  padding: 0 32px;
}