body {
  font-family: 'Zilla Slab', serif;
  padding-top: 80px;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: 'Birthstone Bounce';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

main {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
  padding-bottom: 400px;
} 

