.banner {
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 100px);
  @media screen and (max-width: 1440px) {
    aspect-ratio: 3 / 2;
    height: auto;
  }

  &__image {
    top:  0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    &--current {
      opacity: 1;
    }
  }
}