.banner {
  height: calc(100vh - 200px);
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;

  &__image {
    top:  0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    height: calc(100vh - 80px);
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    &--current {
      opacity: 1;
    }
  }
}